.searchInput {
  height: 50px;
  max-width: 600px;
  margin-inline: auto;
  padding-inline: 10px;

  display: flex;
  align-items: center;
  border: 3px solid var(--gray);
  border-radius: 10px;
  gap: 10px;

  background-color: snow;
  transition: all 0.3s ease; /* Added smooth transition */
}

.searchInput input {
  flex-grow: 1;
  height: 30px;

  text-align: center;
  font-weight: bold;
  color: var(--gray);
  letter-spacing: 1.3px;
  text-transform: capitalize;
  font-size: clamp(14px, 16px, 22px);

  border: transparent;
  background-color: transparent;
}

.searchInput input::placeholder {
  opacity: 0.5;
  text-align: center;
  font-size: clamp(12px, 14px, 20px);
}

.searchInput input:focus {
  outline: transparent;
}

.searchInput img {
  cursor: pointer;
}

@media (width<= 420px) {
  .searchInput img:first-child {
    display: none;
  }
}

@media (width<= 480px) {
  .searchInput img {
    width: 24px;
    height: 24px;
  }
}
