.tempWrapper:hover,
.sunWrapper:hover {
  background-color: snow !important;
}

.tempContainer {
  grid-area: three;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.tempWrapper {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  padding: 10px;
  border: 3px solid var(--gray);

  & .tempStatus {
    text-align: center;
    font-size: clamp(14px, 16px, 24px);
  }

  & .tempValue {
    font-size: clamp(30px, 42px, 80px);
    font-weight: 700;
  }
}

.sunWrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 16px;
  gap: 10px;

  border-radius: 16px;
  border: 3px solid var(--gray);

  & img {
    width: 40px;
  }

  & .timeWrapper {
    text-align: center;
    & .sunTime {
      font-weight: 600;
      font-size: clamp(14px, 16px, 22px);
    }

    & .sunStatus {
      font-weight: 400;
      font-size: clamp(14px, 16px, 22px);
    }
  }
}
