.weatherStatusContainer:hover {
  background-color: snow !important;
}

.weatherStatusContainer {
  grid-area: two;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 48px;

  border-radius: 20px;
  border: 3px solid var(--gray);
}

.weatherIconWrapper {
  display: grid;
  place-items: center;
}

.weatherStatus {
  font-size: clamp(22px, 30px, 42px);
}

@media (width <= 480px) {
  .weatherStatusContainer {
    padding: 10px;
  }
}
