.app {
  min-height: calc(100dvh - 50px);
  position: relative;
}

.notFound {
  min-width: 200px;
  height: 50px;
  display: grid;
  place-items: center;

  font-weight: 500;
  font-size: clamp(14px, 16px, 18px);
  text-transform: capitalize;

  border-radius: 10px;
  border: 3px solid var(--gray);
  background-color: lightcoral;
  animation: toastAnimation 1s ease-in-out;

  position: absolute;
  left: 0;
  top: 0;
}

.hidden {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.dashboard {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  margin-block-start: 50px;
  animation: fadeIn 1s ease-in;
  min-height: calc(100dvh - 150px);

  gap: 16px;
  display: grid;
  grid-template-areas:
    "one two three four"
    "five six six six";
}

/********************** animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes toastAnimation {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/***************** media queries */

@media (width <= 1282px) {
  .dashboard {
    grid-template-areas:
      "one two three"
      "six six six"
      "four  five five";
  }
}

@media (width <= 930px) {
  .dashboard {
    grid-template-areas:
      "one three"
      "six six"
      "two four"
      "five five";
  }
}

@media (width <= 700px) {
  .dashboard {
    grid-template-areas:
      "one two"
      "three three"
      "six six"
      "four four"
      "five five";
  }
}

@media (width <= 620px) {
  .dashboard {
    grid-template-areas:
      "one one"
      "three three"
      "six six"
      "two two"
      "four four"
      "five five";
  }
}

/* update track size */
@media (width <= 1440px) {
  .dashboard {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media (width <= 420px) {
  .dashboard {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
