* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray: #646464;
  --black: #292929;
  --body-bg: #d9d9d9;
}

body {
  padding: 20px;
  margin-block-start: auto;

  color: var(--black);
  letter-spacing: 1.2px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Space Grotesk", sans-serif;

  background-color: var(--body-bg);
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 2px solid;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
