.miscContainer:hover {
  background-color: snow !important;
}

.miscContainer {
  grid-area: four;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  gap: 10px;

  border-radius: 20px;
  border: 3px solid var(--gray);

  & .humidityWrapper,
  & .pressureWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    & .humidityValue,
    & .pressureValue {
      font-weight: 600;
      font-size: clamp(18px, 24px, 32px);
    }

    & img {
      width: 40px;
    }
  }
}

@media (width <= 480px) {
  .miscContainer {
    padding: 10px;
  }
}
